.vs-select {
    position: relative;

    &:not(.disabled) {
        .vs-select-control {
            &:hover {
                border-color: $vs-select-border-hover-color;
                background-color: $vs-select-background-hover-color;

                .vs-select-arrow {
                    &:before {
                        border-top-color: $vs-select-arrow-hover-color;
                    }
                }

                .vs-select-placeholder {
                    color: $vs-select-placeholder-hover-color;
                }

                .vs-select-single {
                    color: $vs-select-single-value-hover-color;
                }
            }
        }
    }

    &.disabled {
        pointer-events: none;

        .vs-select-control {
            border-color: $vs-select-border-disabled-color;
            background-color: $vs-select-background-disabled-color;

            .vs-select-arrow {
                &:before {
                    border-top-color: $vs-select-arrow-disabled-color;
                }
            }
        }

        .vs-select-placeholder {
            color: $vs-select-placeholder-disabled-color;
        }

        .vs-select-input {
            color: $vs-select-input-disabled-color;
        }

        .vs-select-single {
            color: $vs-select-single-value-disabled-color;
        }
    }
}

.vs-select-control {
    display: flex;
    cursor: default;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: space-around;
    min-height: $vs-select-min-height;
    border-radius: $vs-select-border-radius;
    border: 1px solid $vs-select-border-color;
    background-color: $vs-select-background-color;
}

.vs-select-container {
    flex: 1 1 0%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    align-items: center;
    padding: $vs-select-value-padding;
}

.vs-select-placeholder {
    top: 50%;
    z-index: 1;
    margin-left: 2px;
    user-select: none;
    margin-right: 2px;
    position: absolute;
    transform: translateY(-50%);
    color: $vs-select-placeholder-color;
}

.vs-select-input {
    z-index: 2;
    margin: 2px;
    flex-grow: 1;
    padding-top: 2px;
    position: relative;
    padding-bottom: 2px;
    color: $vs-select-input-color;

    input {
        outline: 0;
        padding: 0;
        width: 100%;
        border: 0px;
        color: inherit;
        font-size: inherit;
        background: transparent;
    }
}

.vs-select-single-value {
    top: 50%;
    margin-left: 2px;
    overflow: hidden;
    margin-right: 2px;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 8px);
    transform: translateY(-50%);
    color: $vs-select-single-value-color;
}

.vs-select-multiple-value {
    margin: 2px;
    min-width: 0;
    display: flex;
    font-size: $vs-select-multiple-value-font-size;
    border-radius: $vs-select-multiple-value-border-radius;
    background-color: $vs-select-multiple-value-background-color;

    &:hover {
        background-color: $vs-select-multiple-value-hover-background-color;
    }
}

.vs-select-multiple-value-label {
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $vs-select-multiple-value-color;
    padding: $vs-select-multiple-value-label-padding;
    border-radius: $vs-select-multiple-value-border-radius;
}

.vs-select-multiple-value-remove {
    display: flex;
    min-width: 27px;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: $vs-select-multiple-value-remove-padding;
    border-radius: $vs-select-multiple-value-border-radius;

    &:before,
    &:after {
        width: 2px;
        left: 13px;
        content: '';
        height: 10px;
        position: absolute;
        background-color: $vs-select-multiple-value-remove-color;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

    &:hover {
        color: $vs-select-multiple-value-remove-hover-color;
        background-color: $vs-select-multiple-value-remove-hover-background-color;

        &:before,
        &:after {
            background-color: $vs-select-multiple-value-remove-hover-color;
        }
    }
}

.vs-select-actions {
    display: flex;
    flex-shrink: 0;
    align-self: stretch;
    align-items: center;
}

.vs-select-arrow {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    width: calc(#{$vs-select-min-height} - 2px);
    height: calc(#{$vs-select-min-height} - 2px);

    &:before {
        width: 0;
        height: 0;
        content: '';
        display: block;
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $vs-select-arrow-color;
    }
}

.vs-select-loader {
    display: block;
    cursor: pointer;
    position: relative;
    width: calc(#{$vs-select-min-height} - 2px);
    height: calc(#{$vs-select-min-height} - 2px);

    > div {
        margin: 8px;
        display: block;
        border-width: 2px;
        position: absolute;
        border-style: solid;
        border-radius: 100px;
        width: calc(#{$vs-select-min-height} - 18px);
        height: calc(#{$vs-select-min-height} - 18px);
        border-color: $vs-select-loader-color transparent transparent transparent;
        animation: vs-loader 1200ms cubic-bezier(0.5, 0, 0.5, 1) infinite;

        &:nth-child(1) {
            animation-delay: -450ms;
        }

        &:nth-child(2) {
            animation-delay: -300ms;
        }

        &:nth-child(3) {
            animation-delay: -150ms;
        }
    }
}

@keyframes vs-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
