$vs-text-size: 16px !default;
$vs-line-height: 1.5 !default;
$vs-font-weight: $vs-font-weight-normal !default;
$vs-font-family: 'Source Sans Pro', 'Open Sans', 'sans-serif' !default;

$vs-text-color: $vs-grey-700 !default;
