$multiselect-text-size: 16px !default;
$multiselect-line-height: 1.5 !default;
$multiselect-font-weight: $multiselect-font-weight-normal !default;
$multiselect-font-family: 'Source Sans Pro', 'Open Sans', 'sans-serif' !default;

$multiselect-text-color: $multiselect-grey-700 !default;
