// $mm-black: #000 !default;
$multiselect-white: #fff !default;

// $multiselect-grey-100: #f7fafc !default;
// $multiselect-grey-200: #edf2f7 !default;
// $multiselect-grey-300: #e2e8f0 !default;
$multiselect-grey-400: #cbd5e0 !default;
$multiselect-grey-500: #a0aec0 !default;
$multiselect-grey-600: #718096 !default;
$multiselect-grey-700: #4a5568 !default;
$multiselect-grey-800: #2d3748 !default;
$multiselect-grey-900: #1a202c !default;

// $mm-red-500: #f56565 !default;
// $mm-red-600: #e53e3e !default;

// $mm-coral-500: #ff4738 !default;

$multiselect-blue-100: #ebf8ff !default;
$multiselect-blue-200: #bee3f8 !default;
$multiselect-blue-300: #90cdf4 !default;
// $multiselect-blue-400: #63b3ed !default;
$multiselect-blue-500: #4299e1 !default;
$multiselect-blue-600: #3182ce !default;
// $multiselect-blue-700: #2b6cb0 !default;
// $multiselect-blue-800: #2c5282 !default;
// $multiselect-blue-900: #2a4365 !default;

// $mm-green-500: #48bb78 !default;
// $mm-green-600: #38a169 !default;

// $mm-primary-500: $mm-coral-500 !default;

// $mm-border-radius-sm: 2px !default;
$multiselect-border-radius-default: 4px !default;

// $mm-shadow-default: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
//     0 1px 2px 0 rgba(0, 0, 0, 0.06) !default;
// $mm-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
//     0 4px 6px -2px rgba(0, 0, 0, 0.05) !default;

$multiselect-font-size-sm: 0.875em !default;
// $mm-font-size-base: 1em !default;
// $mm-font-size-lg: 1.125em !default;

$multiselect-font-weight-normal: 400 !default;
$multiselect-font-weight-semibold: 600 !default;

// $mm-modal-padding: 3em !default;

// $mm-screen-lg: 1024px !default;
// $mm-screen-xl: 1280px !default;

// $mm-z-index: 50 !default;
// $mm-control-height: 3em !default;
// $mm-icon-font-size: 16px !default;
// $mm-icon-font-size-sm: 14px !default;
