$vs-white: #fff !default;

$vs-grey-400: #cbd5e0 !default;
$vs-grey-500: #a0aec0 !default;
$vs-grey-600: #718096 !default;
$vs-grey-700: #4a5568 !default;
$vs-grey-800: #2d3748 !default;
$vs-grey-900: #1a202c !default;

$vs-blue-100: #ebf8ff !default;
$vs-blue-200: #bee3f8 !default;
$vs-blue-300: #90cdf4 !default;
// $vs-blue-400: #63b3ed !default;
$vs-blue-500: #4299e1 !default;
$vs-blue-600: #3182ce !default;

$vs-border-radius-default: 4px !default;
$vs-font-size-sm: 0.875em !default;

$vs-font-weight-normal: 400 !default;
$vs-font-weight-semibold: 600 !default;
