$vs-select-min-height: 38px !default;

$vs-select-value-padding: 2px 8px !default;

$vs-select-border-color: $vs-grey-500 !default;
$vs-select-border-hover-color: $vs-grey-600 !default;
$vs-select-border-disabled-color: $vs-grey-400 !default;

$vs-select-border-radius: $vs-border-radius-default !default;

$vs-select-background-color: $vs-white !default;
$vs-select-background-hover-color: $vs-white !default;
$vs-select-background-disabled-color: $vs-white !default;

$vs-select-arrow-color: $vs-grey-500 !default;
$vs-select-arrow-hover-color: $vs-grey-600 !default;
$vs-select-arrow-disabled-color: $vs-grey-400 !default;

$vs-select-loader-color: $vs-grey-400 !default;

$vs-select-input-color: $vs-grey-800 !default;
$vs-select-input-disabled-color: $vs-grey-400 !default;

$vs-select-placeholder-color: $vs-grey-500 !default;
$vs-select-placeholder-hover-color: $vs-grey-600 !default;
$vs-select-placeholder-disabled-color: $vs-grey-400 !default;

$vs-select-single-value-color: $vs-grey-800 !default;
$vs-select-single-value-hover-color: $vs-grey-900 !default;
$vs-select-single-value-disabled-color: $vs-grey-400 !default;

$vs-select-multiple-value-color: $vs-grey-800 !default;
$vs-select-multiple-value-font-size: $vs-font-size-sm !default;
$vs-select-multiple-value-border-radius: $vs-border-radius-default !default;

$vs-select-multiple-value-background-color: $vs-blue-200 !default;
$vs-select-multiple-value-hover-background-color: $vs-blue-200 !default;

$vs-select-multiple-value-label-padding: 3px 3px 3px 6px !default;

$vs-select-multiple-value-remove-padding: 0 4px !default;
$vs-select-multiple-value-remove-color: $vs-grey-800 !default;
$vs-select-multiple-value-remove-hover-color: $vs-grey-800 !default;
$vs-select-multiple-value-remove-hover-color: $vs-grey-800 !default;
$vs-select-multiple-value-remove-hover-background-color: $vs-blue-300 !default;
