$multiselect-min-height: 38px !default;

$multiselect-value-padding: 2px 8px !default;

$multiselect-border-color: $multiselect-grey-500 !default;
$multiselect-border-hover-color: $multiselect-grey-600 !default;
$multiselect-border-radius: $multiselect-border-radius-default !default;

$multiselect-background-color: $multiselect-white !default;
$multiselect-background-hover-color: $multiselect-white !default;

$multiselect-arrow-color: $multiselect-grey-500 !default;
$multiselect-arrow-hover-color: $multiselect-grey-600 !default;

$multiselect-loader-color: $multiselect-grey-400 !default;

$multiselect-input-color: $multiselect-grey-800 !default;
$multiselect-placeholder-color: $multiselect-grey-500 !default;
$multiselect-placeholder-hover-color: $multiselect-grey-600 !default;

$multiselect-single-value-color: $multiselect-grey-800 !default;
$multiselect-single-value-hover-color: $multiselect-grey-900 !default;

$multiselect-multi-value-color: $multiselect-grey-800 !default;
$multiselect-multi-value-font-size: $multiselect-font-size-sm !default;
$multiselect-multi-value-border-radius: $multiselect-border-radius-default !default;

$multiselect-multi-value-background-color: $multiselect-blue-200 !default;
$multiselect-multi-value-hover-background-color: $multiselect-blue-200 !default;

$multiselect-multi-value-label-padding: 3px 3px 3px 6px !default;

$multiselect-multi-value-remove-padding: 0 4px !default;
$multiselect-multi-value-remove-color: $multiselect-grey-800 !default;
$multiselect-multi-value-remove-hover-color: $multiselect-grey-800 !default;
$multiselect-multi-value-remove-hover-color: $multiselect-grey-800 !default;
$multiselect-multi-value-remove-hover-background-color: $multiselect-blue-300 !default;

